//* Stylesheet contenente classi custom per piccoli dettali
// Proprietà dei colori
.brand_color {
    background-color: $brand_color;
}
.brand_color_txt {
    color: $brand_color;
}
.brand_color_light {
    background-color: $brand_color_light;
}
.brand_color_light_txt {
    color: $brand_color_light;
}
.brand_color_lighter {
    background-color: $brand_color_lighter;
}
.brand_color_lighter_txt {
    color: $brand_color_lighter;
}
.brand_color_base {
    background-color: $brand_color_base;
}
.brand_color_base_txt {
    color: $brand_color_base;
}


.aux_color_dark {
    background-color: $aux_color_dark;
}
.aux_color_dark_txt {
    color: $aux_color_dark;
}
.aux_color_darker {
    background-color: $aux_color_darker;
}
.aux_color_darker_txt {
    color: $aux_color_darker;
}
.aux_color_light {
    background-color: $aux_color_light;
}
.aux_color_light_txt {
    color: $aux_color_light;
}
.aux_color_lighter {
    background-color: $aux_color_lighter;
}
.aux_color_lighter_txt {
    color: $aux_color_lighter;
}

.color_white_txt {
    color: white;
}
.color_white {
    background-color: white;
}
.color_gray_txt {
    color: $gray_shade;
}
.color_gray {
    background-color: $gray_shade;
}

// Properietà che gestiscono la forma
.rounded-half {
    border-bottom-left-radius: 50rem;
    border-top-left-radius: 50rem;
}
.rounded-style {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

// Proprietà che gestiscono i testi
.uppercase {
    text-transform: uppercase;
}

.fsize-bg {
    font-size: 55px;
} 

// Proprietà per il margin presente in quasi tutte le section
.p-standard {
    padding: 80px 0;
}

// Sizing properties
.w-80 {
    width: 80px;
}