//* Stylesheet di variabili scss
$brand_color: #E94649;
$brand_color_light: #ee696b;
$brand_color_lighter: #e79d9e;
$brand_color_base: #f3666896;


$aux_color_darker: rgb(23, 17, 17);
$aux_color_dark: rgb(45, 15, 15);
$aux_color_light: rgb(204, 208, 211);
$aux_color_light_transparent: rgb(204, 208, 211, 0.5);
$aux_color_lighter: rgb(238, 244, 237);

$gray_shade: rgb(124, 135, 140);

