$brand_color: #048383;
$brand_color_light: rgb(27, 166, 166);
$brand_color_lighter: #96fefe;
$brand_color_base: rgb(151, 198, 199);

$aux_color_darker: rgb(17, 17, 23);
$aux_color_dark: rgb(15, 39, 45);
$aux_color_light: rgb(204, 208, 211);
$aux_color_lighter: rgb(238, 244, 237);

$gray_shade: rgb(124, 135, 140);

